div.carpetalist_folder { padding:5px; padding-left:70px; border-radius: 10px; background-image:url(../img/icons/folder_icon.png); background-position:10px 50%; background-repeat:no-repeat; }
div.carpetalist_folder:hover { background-color:#F0F0F0; }

div.carpetalist_file { padding:5px; padding-left:70px; border-radius: 10px; background-image:url(../img/icons/file_icon.png); background-position:10px 50%; background-repeat:no-repeat; }
div.carpetalist_file:hover { background-color:#F0F0F0; }


input.homepage_btn { background-image:url(../img/icons/home_icon.png); background-repeat:no-repeat; width:35px; height: 35px ;background-position:center; background-color:transparent;  border:0; margin-left:10px;}


input.deletefolderbutton { background-image:url(../img/icons/delete_icon.png); background-repeat:no-repeat; width:28px; background-position:center; background-color:transparent;  border:0;  margin-right:5px;}
input.edit_folder_button { background-image:url(../img/icons/edit_icon.png); background-repeat:no-repeat; width:28px; background-position:center; background-color:transparent;  border:0; margin-right:5px;}
input.edit_file_button { background-image:url(../img/icons/edit_icon.png); background-repeat:no-repeat; width:28px; background-position:center; background-color:transparent;  border:0; margin-right:5px;}

input.hidepublicbtn { border-radius: 10px; font-size:14px; margin-right:5px;}

input.hidden_btn { background-color:#E1E1E1; } /* Tanto para archivos como carpetas */
input.public_btn { background-color:#CDFDCC; }

div.carpeta_list_edit_buttons { position:static; float:right;  } 

div.admin_little_panel { border-radius: 10px;  background-color:#FFFAD7; padding:10px; }

table.add_form_table td{ padding:2px; padding-right:10px; }
table.add_form_table{ margin-top:15px; }
table.add_form_table input[type="text"]{ width:500px; }

#error_message { background-color:#FFCECE; padding:10px; border-radius:10px; margin-bottom:10px;}
div:empty {
   display: none;
}

a.mirrorlink { font-size:17px; padding-left:20px; }

span.publicprivatespan { font-size:15px; font-style:italic; }
span.hidden_btn { color:#A3A3A3; }
span.public_btn { color:#242424; }


div.editando_form { border-left:5px solid #8F8F8F; padding-left:10px}

